%table{ class: table_class }
  %thead
    %tr
      %th #
      %th.client Client
      %th.project Project Name
      %th Date Invoiced
      %th Total Amount
      %th Status
      %th

  %tbody= render invoices
