- if @invoice.persisted?
  window.location = '#{invoice_path(@invoice)}'

- else
  SIT.Common.clearFormErrors()

  - %w[project_id date number].each do |attr|
    - if @invoice.errors[attr].present?
      SIT.Common.addError('#invoice_#{attr}', '#{escape_javascript @invoice.errors[attr].uniq.to_sentence}')

  - if (@invoice.errors['invoice_items.name'] || @invoice.errors['invoice_items.unit_amount'] || @invoice.errors['invoice_item.qty']).present?
    SIT.Common.addError('.invoice-items', 'all fields required')
