%table
  %thead
    %tr
      %th Client
      %th Project
      %th Date Invoiced
      %th Total Amount

  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= link_to invoice.project.client.name, invoice
        %td= invoice.project.name
        %td= invoice.date.to_s(:default)
        %td= invoice.total_amount
