- if @invoice.errors.empty?
  window.location = '#{invoice_path(@invoice)}'

- else
  CommonFunctions.clearFormErrors();

  - %w[project_id date number page_size currency].each do |attr|
    - if @invoice.errors[attr].present?
      CommonFunctions.addError('#invoice_#{attr}', '#{j @invoice.errors[attr].uniq.to_sentence}');

  - if (@invoice.errors['invoice_items.name'] || @invoice.errors['invoice_items.unit_amount'] || @invoice.errors['invoice_item.qty']).present?
    CommonFunctions.addError('#invoice_invoice_items', 'all fields required');
