%dl.tabs.vertical{ data: { tab: true } }
  %dd.active= link_to 'Profile Settings', '#profile-settings'
  %dd= link_to 'Invoice Payment Details', '#invoice-payment-details'

.tabs-content
  .content.active#profile-settings= render 'profile_settings_form'
  .content#invoice-payment-details= render 'invoice_payment_details_form'
