- if @user.persisted?
  window.location = '#{invoices_path}'

- else
  CommonFunctions.clearFormErrors()

  - %w[password email].each do |attr|
    - if @user.errors[attr].present?
      CommonFunctions.addError('#user_#{attr}', '#{j @user.errors[attr].uniq.to_sentence}')
