%h1.lead Signup! It's FREE!!

= form_for User.new, html: { remote: true } do |f|
  .row
    .small-12.medium-9.large-6.column.small-centered
      %label
        Email
        = f.text_field :email, placeholder: 'john.doe@example.com'

  .row
    .small-12.medium-9.large-6.column.small-centered
      %label
        Password
        = f.password_field :password, placeholder: 'Password'

  .row
    .small-12.medium-9.large-6.column.small-centered.text-center
      = submit_tag 'Sign up', class: 'button'
