.wrapper
  %div{ style: 'float:right;' }
    %ul#nav
      %li= link_to 'Login', new_session_path
      %li= link_to 'Signup', new_user_path

  %div{ style: 'float:left; padding:0.8em 1em 0.8em 0; color:#FFF;' }
    = link_to 'Invoice Tracker', root_url
  .clearfix
