.contain-to-grid
  %nav.top-bar.fixed{ role: 'navigation', data: { topbar: true } }
    %ul.title-area
      %li.name
        %h1
          = link_to root_url do
            %strong> S
            imple
            %strong> I
            nvoice
            %strong> T
            racker

    %section.top-bar-section
      %ul.right
        %li= link_to 'Login', new_session_path
        %li= link_to 'Signup', new_user_path
