- if @client.persisted?
  $('#client-dialog').foundation('reveal', 'close')

  - if params[:inline]
    $('#project_client_id').replaceWith('#{escape_javascript collection_select(:project, :client_id, current_user.clients, :id, :name, { include_blank: true, selected: @client.id })}')
    $('#project-dialog').foundation('reveal', 'open')

  - else
    window.location = '#{client_path(@client)}'

- else
  SIT.Common.clearFormErrors()

  - %w[name contact_person address contact_number].each do |attr|
    - if @client.errors[attr].present?
      SIT.Common.addError('#client_#{attr}', '#{escape_javascript @client.errors[attr].uniq.to_sentence}')
