= details_block 'Client Name' => @client, 'Contact Person' => @client.contact_person, 'Address' => @client.address, 'Contact Number' => @client.contact_number

- if @projects.any?
  %h4 Projects
  = render 'projects/projects', table_class: 'hide-client', projects: @projects

- if @invoices.any?
  %h4 Invoices
  = render 'invoices/invoices', table_class: 'hide-client', invoices: @invoices
