- if @client.errors.empty?
  $('#dialogs').foundation('reveal', 'close')
  $('##{dom_id(@client)}').replaceWith('#{escape_javascript render('clients/client', client: @client)}')

- else
  SIT.Common.clearFormErrors()

  - %w[name contact_person address contact_number].each do |attr|
    - if @client.errors[attr].present?
      SIT.Common.addError('#client_#{attr}', '#{escape_javascript @client.errors[attr].uniq.to_sentence}')
