- if @project.persisted?
  - if params[:dialog]
    $('#project-dialog').dialog('close');
    $('#invoice_project_id').replaceWith('#{j collection_select(:invoice, :project_id, current_user.projects, :id, :name, { include_blank: true, selected: @project.id })}');

  - else
    Turbolinks.visit('#{project_path(@project)}');

- else
  CommonFunctions.clearFormErrors();

  - %w[name client_id].each do |attr|
    - if @project.errors[attr].present?
      CommonFunctions.addError('#project_#{attr}', '#{j @project.errors[attr].uniq.to_sentence}')
