%ul.small-block-grid-8
  %li
    %ul.pricing-table
      %li.title Client
      %li.bullet-item= link_to @project.client.name, @project.client

  %li
    %ul.pricing-table
      %li.title Project Name
      %li.bullet-item= @project.name

- if @invoices.any?
  %h4
  = render 'invoices/invoices', table_class: 'hide-client hide-project', invoices: @invoices
