= details_block 'Client' => link_to(@project.client.name, @project.client), 'Project Name' => @project

- if @invoices.any?
  %h4
  = render 'invoices/invoices', table_class: 'hide-client hide-project', invoices: @invoices
