- if @project.errors.empty?
  window.location = '#{project_path(@project)}'

- else
  CommonFunctions.clearFormErrors();

  - %w[name client_id].each do |attr|
    - if @project.errors[attr].present?
      CommonFunctions.addError('#project_#{attr}', '#{j @project.errors[attr].uniq.to_sentence}')
