- if @project.errors.empty?
  $('#project-dialog').foundation('reveal', 'close')
  $('##{dom_id(@project)}').replaceWith('#{escape_javascript render('projects/project', project: @project)}')

- else
  SIT.Common.clearFormErrors()

  - %w[name client_id].each do |attr|
    - if @project.errors[attr].present?
      CommonFunctions.addError('#project_#{attr}', '#{escape_javascript @project.errors[attr].uniq.to_sentence}')
