html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #EEE;
  font-family: 'Roboto', sans-serif;
}

#page-container {
  position: relative;

  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/

  min-height: 100%; /* real browsers */
}

#header {
  background: #33CCCC;

  a.active {
    background: #EEE;
    color: #444;
  }

  a {
    color: #FFF;
    float: right;
    font-size: 1em;
  }

  #nav, .nav, li {
    margin: 0;
    padding: 0;
  }

  #nav {
    & > a {
      float: left;
      li { padding: 0.8em 1em; }
    }

    .nav {
      display: none;
      border: 1px solid #888;
      width: 200px;

      li {
        width: 100%;
        text-indent: 10px;
        line-height: 30px;
        background: #fff;
      }

      a { color: #888; }
      &.wide { width: 300px; }
    }

    & > .nav { border-top: 0 !important; }

    li:hover > a, li:hover {
      color: #fff;
      background: #666;
    }

    li {
      float: left;
      display: inline;
      cursor: pointer;
      list-style: none;
      position: relative;

      a {
        display: block;
        width: inherit;
        height: inherit;
      }

      &:hover {
        position: relative;
        z-index: 2000;

        & > .nav {
          display: block;
          position: absolute;
          top: -1px;
          left: 100%;
          z-index: 1000;
        }
      }
    }

    & > li:hover > .nav {
      top: 100%;
      left: 0;
    }
  }
}

#content {
  padding-bottom: 5em; /* bottom padding for footer */
}

#footer {
  height: 5em;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #666;
  line-height: 5em;

  a {
    color: #DDD;
    line-height: 30px;
    padding: 30px 0;
  }
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  &.full-width { width: 100%; }
}

.clearfix {
  clear: both;
}

a {
  text-decoration: none;
  color: #000;

  &.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 5px 20px;
    background: -moz-linear-gradient(top, #bcc7cf 0%, #1a1b1c);
    background: -webkit-gradient(linear, left top, left bottom, from(#bcc7cf), to(#1a1b1c));

    border-radius: 5px;
    border: 1px solid #222;

    box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
    text-shadow: 0px -1px 0px rgba(000,000,000,0.7), 0px 1px 0px rgba(255,255,255,0.3);

    &:active {
      background: -moz-linear-gradient(top, #1a1b1c 0%, #bcc7cf);
      background: -webkit-gradient(linear, left top, left bottom, from(#1a1b1c), to(#bcc7cf));
    }
  }
}

.flat {
  background: #FFCC66;
  padding: 10px 18px;
  color: #333;
  border: 0;
  border-radius: 2px;

  &:hover {
    background: #FF5500;
    color: #EEE;
  }

  &.big {
    font-size: 20px;
    padding: 13px 30px;
  }
}

