*
  margin: 0
  padding: 0

html, body
  margin: 0
  padding: 0

a
  color: #444

  &:hover
    color: #000

#wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -4em

#content
  padding: 2em

#footer, .push
  height: 4em
  line-height: 4em
  text-align: center
  color: #FFF

#footer
  background-color: #999

h1.lead
  text-align: center
  margin: 1em

table
  width: 100%

  &.hide-client .client, &.hide-project .project
    display: none

.pricing-table .title
  text-transform: uppercase

li.client
  position: relative

  i.fi-x
    color: #FFF

.invoice-item-container .amt
  input
    width: 90%
    float: left

  div
    width: 10%
    float: left
    text-align: center

  i
    cursor: pointer

.icon
  background-image: image-url('icon-sprite.png')
  height: 64px
  width: 64px
  display: block
  border-radius: 100px
  margin: 0 auto

  &.icon-only
    color: transparent

  &.icon-github
    background-position: 0 -74px

  &.icon-linkedin
    background-position: -740px -148px

  span
    display: block
    padding-top: 80px
