.flash {
  width: 100%;
  top: 100px;
  text-align: center;
  padding: 15px 0;

  span { padding-right: 10px; }

  &.success {
    color: #4F8A10;
    background: #DFF2BF;
  }

  &.warning {
    color: #9F6000;
    background: #FEEFB3;
  }

  &.info {
    color: #00529B;
    background: #BDE5F8;
  }

  &.error {
    color: #D8000C;
    background: #FFBABA;
  }
}
