@font-face {
	font-family: 'icomoon';
	src: url(/fonts/icomoon.eot);
	src: url(/fonts/icomoon.eot?#iefix) format('embedded-opentype'),
		url(/fonts/icomoon.woff) format('woff'),
		url(/fonts/icomoon.ttf) format('truetype'),
		url(/fonts/icomoon.svg#icomoon) format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-pdf, .icon-error, .icon-list, .icon-info, .icon-warning, .icon-trash, .icon-cog, .icon-edit, .icon-plus {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;

  &.with-text { padding-right: 10px; }

  &.icon-only {
    border-radius: 30px;
    font-size: 15px;
    padding: 5px;
  }
}

.icon-info:before    { content: "\e000"; }
.icon-error:before   { content: "\e001"; }
.icon-list:before    { content: "\e002"; }
.icon-warning:before { content: "\e003"; }
.icon-trash:before   { content: "\e004"; }
.icon-cog:before     { content: "\e005"; }
.icon-pdf:before     { content: "\e007"; }
.icon-edit:before    { content: "\e008"; }
.icon-plus:before    { content: "\f055"; }
