#invoice_invoice_items {
  margin: 0;
}

.invoice-item-container {
  position: relative;
  clear: both;
  width: 100%;
  padding-bottom: 10px;

  .delete-invoice-item {
    top: 15px;
    right: -30px;
    position: absolute;
    position: cursor;
  }

  .name, .quantity, .amt {
    float: left;
    overflow: hidden;
    border-left: 1px solid #CCC;
    margin-left: -1px;

    input { width: 100%; }
  }

  .name {
    width: 70%;
    border-left: 0;
    margin-left: 0;

    &.no-qty { width: 80%; }
  }

  .quantity {
    width: 10%;
  }

  .amt {
    width: 20%;
  }
}
