#subnav {
  padding: 15px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 2px 5px #BBB;

  a {
    float: right;
    margin: 0 5px;
  }

  h2 {
    float: left;
    line-height: 38px;
    margin: 0;
  }
}
