table {
  width: 100%;
  border-collapse: collapse;

  thead tr { border-bottom: 5px solid #DDD; }
  tbody tr { border-bottom: 1px solid #CCC; }
  td, th { padding: 10px 20px; }
  th { text-align: left; }
}
